.logo{
    font-family: "Agbalumo", system-ui;
}

.join-us-btn{
    background-color: red;
    width: 80px;    
    text-align: center;
}

a {
    text-decoration: none;
    color: black;
    font-weight: 700;
}

a:hover{
    color: #198754;
}